<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Semestre i</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" />   
    <style>
    </style>

  </head>
  	<body>
        <div id="lugardetrabajo" style="background-color: orange;">
        <div class="row">
          <div class ="six columns">
            {{nombre}}
          </div>
        <h1 id="libreria">Libreria abre mañana!!!!</h1>
        </div>
        <div class="ui form">
            <div class="field">
                <div class="row">
                <div class="four columns">
                <label>Autor</label>
                <input type="text" v-model="newAutor">
                </div>
                
                <div class="four columns">
                <label>Titulo</label>
                <input type="text" v-model="newTitulo">
                </div>
                <div class="four columns">

                <label>Likes </label>
                <input type="number" v-model="newCantidad">
                </div>
              </div>
              <div class="row">
                <div class="four columns">
                <label>Link</label>
                <input type="text" v-model="newEditorial">
                </div>
                <div class="six columns">
                  <label>Link disponible</label>
                <input type="checkbox" v-model="newOferta">
                </div>
              </div>
                
            </div>
        </div>
        <button class="ui button button-primary" v-on:click="metodo">
            Agregar libro
        </button>

        <div v-bind:style="{ color: colorcito}">
        <ul>
            <li v-for="(book,i) in ordenarLibros">
                {{book.titulo}}, por {{book.autor}} ||
                <span v-if="book.oferta" >
                    <a v-bind:href="book.editorial" style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        Link disponible!!!!!!</a>
                </span>
                <span v-else style="color: blue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    No hay link :(
                </span>
                <button class="ui button button-primary" v-on:click="deletear(i)">
                    delete
                </button>
                <button class="ui button" v-on:click="editar(i)">
                  edit
                </button>
                <div v-if="edito == i">
                  <div class="ui form">
                    <div class="field">
                        <label>Autor</label>
                        <input type="text" v-model="eAutor">
                      </br>
                        <label>Titulo</label>
                        <input type="text" v-model="eTitulo">
                      </br>
                        <label>Likes </label>
                        <input type="number" v-model="eCantidad">
                      </br>
                        <label>Link</label>
                        <input type="text" v-model="eEditorial">
                      </br>
                        <label>Link Disponible</label>
                        <input type="checkbox" v-model="eOferta">
                    </div>
                </div>
                <button class="ui button" v-on:click="stopedit(i)">
                    Finish
                </button>
                </div>
            </li>
        </ul>
        </div>
          <div id=spotify>
            <h3>Categories</h3>
            <ul >
            <li v-for="(cat,i) in datos_spotify">{{cat}}</li>
            </ul>
            <h3>Top listened songs</h3>
            <ol>
            <li v-for="(cat,i) in top10">{{cat}}</li>
            </ol>
            <h3>Nobel Prize Categories</h3>
            <ul >
            <li v-for="(cat,i) in winners">{{cat}}</li>
            </ul>
          </div>
        </div>

        <div id="espacio">
           espacio
        </div>
        


		  <script type="text/javascript">

          //Una instancia de Vue que manejará esa área del documento #lugardetrabajo
          c= new Vue({
            el: "#lugardetrabajo",
            data :{
              nombre: "La elegante vagancia",
              open: false,
              openTomorrow: true,
              libros:[
                {
                autor:"Pink Fong",
                titulo:"Baby Shark tutururuturu",
                cantidad:3,
                editorial:"https://www.youtube.com/watch?v=XqZsoesa55w",
                oferta: true
                }
              ],
              spotify: "spotify",
              datos_spotify: [],
              top10: [],
              winners: [],
              newAutor: "",
              newTitulo: "",
              newCantidad: 0,
              newEditorial: "",
              newOferta: false,
              eAutor: "",
              eTitulo: "",
              eCantidad: 0,
              eEditorial: "",
              eOferta: false,
              colorcito: "blue",
              edito: -1
            },
            created: function(){
              fetch("/dato")
              .then(response => response.json())
              .then(data=> {
                for(let i=0;i<data.data.length;i++){
                  this.libros.push(data.data[i]);
                }
                
              });
              fetch("https://api.spotify.com/v1/browse/categories", {method: 'GET',
              headers : {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer '
              }})
              .then(response => response.json())
              .then(data => {
                for(let i=0;i<data.categories.items.length;i++){
                  this.datos_spotify.push(data.categories.items[i].name);
                }
              });
              fetch("https://api.spotify.com/v1/me/top/tracks?time_range=medium_term&limit=10&offset=5",{method: 'GET',
              headers: {
                "Accept": "application/json",
                'Content-Type': 'application/json',
                'Authorization': 'Bearer '
              }
              })
              .then(response => response.json())
              .then(data => {
                for(let i=0;i<data.items.length;i++){
                  this.top10.push(data.items[i].name);
                }
              });

              fetch("http://api.nobelprize.org/v1/prize.json?year=2020", {method:'GET'})
              .then(response => response.json())
              .then(data=> {
                for(let i=0;i<data.prizes.length;i++){
                  this.winners.push(data.prizes[i].category);
                }
              })
            },
            methods:{
                metodo :function() {
                    this.newCantidad=parseInt(this.newCantidad);
                    this.libros.push({autor: this.newAutor,titulo: this.newTitulo, 
                    cantidad: this.newCantidad, editorial: this.newEditorial, oferta: this.newOferta
                    });
                    this.newAutor="";
                    this.newTitulo="";
                    this.newCantidad=0;
                    this.newEditorial="";
                    this.newOferta=false;
                    
                    
                },
                deletear(i){
                  this.libros.splice(i,1);
                },
                editar(i){
                  this.edito=i;
                  this.eAutor= this.libros[i].autor;
                  this.eTitulo= this.libros[i].titulo;
                  this.eCantidad= this.libros[i].cantidad;
                  this.eEditorial= this.libros[i].editorial;
                  this.eOferta= this.libros[i].oferta;
                },
                stopedit(i){
                  this.libros[i].autor = this.eAutor;
                  this.libros[i].titulo =this.eTitulo;
                  this.libros[i].cantidad = this.eCantidad;
                  this.libros[i].editorial = this.eEditorial;
                  this.libros[i].oferta = this.eOferta;
                  this.edito=-1;
                  this.eAutor= "";
                  this.eTitulo= "";
                  this.eCantidad= 0;
                  this.eEditorial= "";
                  this.eOferta= false;
                }
            },
            computed:{
              ordenarLibros: function(){
                console.log("computed");
                this.libros = _.orderBy(this.libros,['cantidad']);
                return this.libros;
              }
            },
            watch:{
              nombre: function(d){
                console.log("algo ha cambiado");
              },
              open: function(d){
                if(d){
                  document.getElementById("lugardetrabajo").style.backgroundColor="greenyellow";
                }else{
                  document.getElementById("lugardetrabajo").style.backgroundColor="orange";
                }
              },
              openTomorrow: function(d){
                if(d){
                  document.getElementById("libreria").innerHTML="Abierto mañana!!!!!!";

                }else{
                  document.getElementById("libreria").innerHTML="No abre mañana :(";
                }
              }
            }  
          });

		  </script>
	</body>
</html>